{% extends "master.html" %}

{% block title %}
    My Tennis Club
{% endblock %}

{% block content %}
    <!-- Carousel -->
            <div id="demo1" class="carousel slide"
            data-bs-ride="carousel">
          <!-- Indicators/dots -->
            
          <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo1" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo1"data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo1"data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo1"data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#demo1"data-bs-slide-to="4"></button>
            </div>    
         
        
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://img5.pic.in.th/file/secure-sv1/p2fa1af8be3a5e3a1b.jpeg" alt="P1" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Picture 1</h3>
                        <p>We have fun.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://img2.pic.in.th/pic/p3ede57e5ac5a4d0e9.jpeg" alr="P2" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Picture 2</h3>
                        <p>We have fun.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://img5.pic.in.th/file/secure-sv1/p4fe3f0d4968f60f24.jpeg" alt="P3" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Picture 3</h3>
                        <p>We have fun.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://img5.pic.in.th/file/secure-sv1/p5a9939ae0139c6f32.jpeg" alt="P4" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Picture 4</h3>
                        <p>We have fun.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://img2.pic.in.th/pic/p655be3349eb91b7bf.jpeg" alt="P5" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Picture 5</h3>
                        <p>We have fun.</p>
                    </div>
                </div>
      
<!-- 

            <img src="https://img5.pic.in.th/file/secure-sv1/p2fa1af8be3a5e3a1b.jpeg" alt="p2fa1af8be3a5e3a1b.jpeg" border="0">
<img src="https://img2.pic.in.th/pic/p3ede57e5ac5a4d0e9.jpeg" alt="p3ede57e5ac5a4d0e9.jpeg" border="0">
<img src="https://img5.pic.in.th/file/secure-sv1/p4fe3f0d4968f60f24.jpeg" alt="p4fe3f0d4968f60f24.jpeg" border="0">
<img src="https://img5.pic.in.th/file/secure-sv1/p5a9939ae0139c6f32.jpeg" alt="p5a9939ae0139c6f32.jpeg" border="0">
<img src="https://img2.pic.in.th/pic/p655be3349eb91b7bf.jpeg" alt="p655be3349eb91b7bf.jpeg" border="0"> -->
        
            <button class="carousel-control-prev" type="button"
            data-bs-target="#demo1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </button>
        
            <button class="carousel-control-next" type="button"
            data-bs-target="#demo1" data-bs-slide="next">
            <span class="carousel-control-next-icon">
                
            </span>
            </button>
        </div>


        <marquee><h2>My Member</h1></marquee>

    <p>Check out all our <a href="members/">members</a></p>



{% endblock %}
